<div class="small-12">
  <label>Title</label>
  {{input placeholder="held hands with a pretty girl" value=title}}
</div>
<div class="small-12">
  <label>Why?</label>
  {{input placeholder="because I got high" value=reason}}
</div>
<div class="small-12">
  <button class="success button small-12" {{ action 'save' }}>Save</button>
  <button class="secondary button small-12" {{ action 'cancel' }}>Cancel</button>
  {{#if isNotNew}}
    <button class="alert button small-12" {{ action 'delete' }}>Delete</button>
  {{/if}}
</div>
