<div class="small-12">
  {{input class="form-control" placeholder="today i held hands with a pretty girl" value=title}}
</div>
<div class="small-12">
  {{input class="form-control" placeholder="because I went for a walk on the beach" value=reason}}
</div>
<div class="small-12">
  <button class="btn btn-primary" {{ action 'save' }}>Save</button>
  <button class="btn btn-default" {{ action 'cancel' }}>Cancel</button>
  {{#if isNotNew}}
    <button class="btn btn-primary btn-danger" {{ action 'delete' }}>Delete</button>
  {{/if}}
</div>
