<form>
  <div class="form-group">
    {{input class="form-control" placeholder="today i held hands with a pretty girl" value=title maxlength=240}}
  </div>

  <div class="form-group">
    {{input class="form-control" placeholder="because I went for a walk on the beach" value=reason maxlength=240}}
  </div>

  <div class="form-actions">
    <a class="btn btn-block btn-primary" {{ action 'save' }}>Save</a>
    <a class="btn btn-block btn-default" {{ action 'cancel' }}>Cancel</a>
    {{#if isNotNew}}
      <a class="btn btn-block btn-danger" {{ action 'delete' }}>Delete</a>
    {{/if}}
  </div>
</form>
