{{#if dayIsToday}}
  {{#if catchingAnotherMoment}}
  <div class="well">
    {{moment-catcher moment=nextMoment onSave=(action 'saveMoment') onCancel=(action 'abortNewMoment')}}
  </div>
  {{else}}
    {{#if canCreateMoreMoments}}
      <button class="btn btn-lg btn-block btn-primary" {{action (toggle this "catchingAnotherMoment")}}>
        Catch a Moment
      </button>
    {{else}}
      <div class="well">
        <p class="celebration text-center">🎉 Three moments captured! Hooray! 🎊</p>
      </div>
    {{/if}}
  {{/if}}
{{/if}}

<h2>moments</h2>
<div class="moments well">
{{#each persistedMoments as |moment|}}
  <div class="moment">
  {{#if moment.isBeingEdited}}
    {{moment-catcher
        moment=moment
        onSave=(action 'saveMoment')
        onCancel=(action 'cancelEditingMoment')
        onDelete=(action 'destroyMoment')
      }}
  {{else}}
      <div class="moment-meta">
        <span class="moment-date">{{moment-format moment.date 'MM/DD/YY'}}</span>
        {{#if momentsAreEditable}}
          <a class="moment-edit-link" href="#" {{action 'editMoment' moment}}>edit</a>
        {{/if}}
      </div>
      <h4 class="moment-title">{{moment.title}}</h4>
      <span class="moment-reason">{{moment.reason}}</span>
  {{/if}}
  </div>
{{/each}}
</div>
