name: {{user.name}};
length: {{moments.length}}

<div class="moment-header">
  <h2 class="moment-title">Moments - {{moment-format dayAsDate 'MM/DD/YY'}}</h2>
  {{#if catchingAnotherMoment}}
    {{!-- {{#modal-dialog close=(action (toggle this "catchingAnotherMoment"))}}
      {{moment-catcher moment=nextMoment onSave=(action 'saveMoment')}}
    {{/modal-dialog}} --}}
    {{moment-catcher moment=nextMoment onSave=(action 'saveMoment') onCancel=(toggle this "catchingAnotherMoment")}}
  {{else}}
    <button class="btn btn-lg btn-primary" {{action (toggle this "catchingAnotherMoment")}}>
      Catch a Moment
    </button>
  {{/if}}
</div>

<div class="moments row">
{{#each persistedMoments as |moment|}}
  {{#if moment.isBeingEdited}}
    {{moment-catcher
        moment=moment
        onSave=(action 'saveMoment')
        onCancel=(action 'cancelEditingMoment')
        onDelete=(action 'destroyMoment')
      }}
  {{else}}
    <div class="moment large-4 columns">
      {{moment-format moment.date 'MM/DD/YY'}}
      <a href="#" {{action 'editMoment' moment}}>edit this moment</a>
      <h3>title:{{moment.title}}</h3>
      <p>reason:{{moment.reason}}</p>
    </div>
  {{/if}}
{{/each}}
</div>
