{{#global-header}}
  <header>
    {{#if session.isAuthenticated}}
      <div class="header-left-bucket">
      </div>
      <div class="header-right-bucket">
        <p class="text-right">👋 {{user.name}}</p>
        <a class ="sign-out-link" href='#' {{action 'invalidateSession'}}>sign out</a>
      </div>
    {{else}}
      <div class="header-full-bucket">
        <button class="btn btn-social btn-google btn-block" {{action 'authenticate' 'google-token'}}>
          <span class="fa fa-google"></span> Sign in with Google
        </button>
      </div>
    {{/if}}
  </header>
{{/global-header}}

<div class="container-fluid">
  {{outlet}}
</div>

<footer class="text-center">made with aloha 🌴</footer>
