{{outlet}}

<div class="menu">
  {{#if session.isAuthenticated}}
    <h3>hello, {{user.name}}</h3>
    <button class="primary button" {{action 'invalidateSession'}}>Logout</button>
  {{else}}
    <button class="primary button" {{action 'authenticate' 'google-token'}}>Login with Google</button>
  {{/if}}
</div>
