{{outlet}}

<div class="menu">
  {{#if session.isAuthenticated}}
    <h3>hello, {{user.name}}</h3>
    <button class="btn btn-primary" {{action 'invalidateSession'}}>Logout</button>
  {{else}}
    <button class="btn btn-social btn-google" {{action 'authenticate' 'google-token'}}>
      <span class="fa fa-google"></span> Sign in with Google
    </button>
  {{/if}}
</div>
